.right-panel {
    float:right;
    width: 609px;
    height: 100%;
    box-shadow: 0px 21px 180px 0 rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    position: sticky;
}

.panel-title {
    margin-bottom: 72px;
    font-family: 'Noto Sans KR Light';
    font-size: 48px;
    font-weight: 300;
    letter-spacing: -4.3px;
    text-align: left;
    color: #000000;
}

.login {
    margin: 0 auto;
    width: 80%;
    align-items: center;
    justify-content: center;
}

.register {
    margin: 0 auto;
    width: 80%;
    align-items: center;
    justify-content: center;
}


.background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('https://www.nlc.org/sites/default/files/2017-01/courts_ready.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.background-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url('../assets/pat.png');
    background-repeat: repeat;
}

.app {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main {
    width: 1200px;
    height: 750px;
    box-shadow: 0px 21px 180px 0 rgba(0, 0, 0, 0.15);
    align-items: center;
    justify-content: center;
    background: #ffffff;
    margin: 0 auto;
}

.main-title {
    font-family: 'Noto Serif KR', serif;
    font-size: 30px;
    font-weight: 300;
    letter-spacing: -2.3px;
    text-align: left;
    color: #000000;
    height: 45px;
    box-shadow: 0px 35px 59px 0 rgba(0, 0, 0, 0.08);
    padding: 15px;
    padding-left: 25px;
}

.contents {
    height: calc(100% - 75px);
}